# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
LKVideoPlayerKit/IJKMediaFramework.framework/IJKMediaFramework
LKVideoPlayerKit/IJKMediaFramework.framework/Info.plist
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKAVMoviePlayerController.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKFFMonitor.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKFFMoviePlayerController.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKFFOptions.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKKVOController.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKMediaFramework.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKMediaModule.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKMediaPlayback.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKMediaPlayer.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKMPMoviePlayerController.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKNotificationManager.h
LKVideoPlayerKit/IJKMediaFramework.framework/Headers/IJKSDLGLViewProtocol.h
LKVideoPlayerKit/IJKMediaFramework.framework/Modules/module.modulemap
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/IJKMediaFramework
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Info.plist
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKAVMoviePlayerController.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKFFMonitor.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKFFMoviePlayerController.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKFFOptions.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKKVOController.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKMediaFramework.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKMediaModule.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKMediaPlayback.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKMediaPlayer.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKMPMoviePlayerController.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKNotificationManager.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Headers/IJKSDLGLViewProtocol.h
LKVideoPlayerKitExample/Pods/LuckinIJKPlayer/LuckinIJKPlayer/Framework/IJKMediaFramework.framework/Modules/module.modulemap
